@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --destaque: #0077ff;        /* Azul do cabeçalho */
    --fundo-card: #ffffff;
    --entrada: #05c224;         /* Verde para ganhos */
    --saida: #c40d0d;           /* Vermelho para gastos */
}

body {
    background-color: var(--fundo-principal);
    font-family: "inter";
}
 /* LAYOUT GERAL */
header {
    text-align: center;
    padding: 1.5rem 0.5rem;
    background-color: var(--destaque);
    color: var(--fundo-card);
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

section h2 {
    text-align: center;
}

#balance-section {
    display: grid;
    grid-template-columns: 1fr; /* Padrão para celular: 1 coluna */
    gap: 1.5rem;
    margin-bottom: 3rem;
}

/* Quando a tela for maior que 600px, muda para 3 colunas iguais */
@media (min-width: 600px) {
    #balance-section {
        grid-template-columns: repeat(3, 1fr);
    }
}

.entrada {
    background-color: var(--fundo-card);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); /* Sombra leve de Fintech */
}

.saida {
     background-color: var(--fundo-card);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); /* Sombra leve de Fintech */
}


.entrada h3 {
    font-size: small;
    font-weight: 400;
    color: #666;
    margin-bottom: 0.5rem;
}

.saida h3 {
    font-size: small;
    font-weight: 400;
    color: #666;
    margin-bottom: 0.5rem;
}


.entrada p {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--entrada);
}

.saida p {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--saida);
}

.saldototal p {
    color: var(--entrada);
}

/* SECÇÂO DO FORMULÁRIO */

#form-section {
    background-color: var(--fundo-card);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 3rem;
}

#form-section h2 {
    margin-bottom: 1.2rem;
    color: var(--texto);
    font-size: 1.3rem;
}

.input-group {
    display: flex;
    flex-direction: column; /* Deixa a Label em cima do Input */
    margin-bottom: 1.2rem;
}

.input-group label {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.4rem;
    font-weight: 500;
}

.input-group input {
    padding: 0.5rem;
    border-radius: 6px;
    font-size: small;
    outline: none;
    transition: border-color o.2s;
    border: none;
    background-color: var(--fundo-principal);
}

.input-group input:focus {
    background-color: var(--fundo-card);
}

.input-group small {
    color: #777;
    margin-top: 0.5rem; 
}

/* O Botão de Enviar */
#transaction-form button {
    width: 100%;
    padding: 0.3rem;
    background-color: var(--destaque);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: backgound 0.2s;
}

#transaction-form button:hover {
    background-color: #005fd1; /* Escurece um pouco no hover */
}

#history-section h2 {
    margin-bottom: 1.5rem;
    color: var(--texto);
    font-size: 1.3rem;
}

table {
    width: 100%;
    border-collapse: collapse; /* Remove espaços duplos nas bordas */
    text-align: left;
}

th, td {
    padding: 1rem;
    border-bottom: 1px solid #eee;
}

th {
    color: #666;
    font-weight: 600;
    font-size: 0.9rem;
}

td {
    color: var(--texto)
}